body	{
	background-color: black;
}
h1		{
	text-align: center;
}
#Sin	{
	background-color: lightgoldenrodyellow;
	text-align: center;
}
#Order	{
	background-color: skyblue;
	text-align: center;
}
#ark	{
	text-align: center;
	background-color: deepskyblue;
}